.home {
    min-height: 100vh;
    background-image: url('../../assets/backgroudImg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15px;
}